.App {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 16px;
}

.App img {
    margin: auto;
}

.App-logo {
    float: right;
}

.App-intro {
    font-size: large;
}

.inputSearch {
    border-radius: 2em / 5em;
    width: 250px;
    height: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
